@model DebtMan.WebApp.Models.Gift
@using DebtMan.WebApp.Helpers

<div class="editorRow">
    @using (Html.BeginCollectionItem("Gifts")) {
        @:Item:&nbsp;@Html.TextBoxFor(x => x.Name)
        @:Value:&nbsp;@Html.TextBoxFor(x => x.Price, new { size = 4 })
        <a href="#" class="deleteRow">delete</a>
    }
</div>
