@model DebtMan.WebApp.Models.GiftBox

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
What do you want for your birthday?
</p>

@using(Html.BeginForm()) {
    
    <div class="editor-label">
        @Html.LabelFor(model => model.For)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.For)
        @Html.ValidationMessageFor(model => model.For)
    </div>
    
    <p></p>

    <div id="editorRows">
            @foreach (var item in Model.Gifts) {
                Html.RenderPartial("GiftEditorRow", item);
            }
    </div>
    
    @Html.ActionLink("Add another...", "Add", null, new { id = "addItem" })

    <input type="submit" value="Finished" />
}
